.App {
  width: 60%;
  max-widht: 56.25rem;
  justify-content: center;
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
}

.App > * {
  flex: 1;
}

.content-15 {
  flex: 3;
}

.content-30 {
  flex: 6;
}

.app__body {
  display: flex;
  width: 100%;
  margin-top: 5rem;
}