.feed {
  flex: 0.5;
  margin: 0 1.25em;
}

.feed__inputContainer {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1.25em;
}

.feed__input {
  display: flex;
  padding-top: .625em;
  padding-left: .625em;
  padding-right: .625em;
  align-items: flex-start;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  border: none;
  flex: 1;
  outline-width: 0;
  font-weight: 400;
  height: 1.875em;
  border: 1px solid gray;
  border-radius: 30px;
  padding: .25em;
  padding-left: .625em;
  outline: none;
  height: 100%;
  background-color: white;
  color: gray;
  width: 100%;
  text-align: left;
}

.feed__input > form > button {
  display: none;
}

.feed_avatar {
  margin-right: .625em;
  object-fit: cover;
}

.form_input {
  width: 90%
}

.form_input > button:hover {
  background-color: darkgray;
}

.feed_icons {
  display: flex;
  justify-content: space-between;
  margin-top: .625em;
  align-items: center;
  height: 100%;
}

.photo > p, .video > p, .event > p, .article > p {
  color: gray;
  margin-left: .25em;
}

.photo {
  display: flex;
  color: blue;
  padding: .625em .625em 1.25em .625em;
  align-items: center;
}

.photo:hover {
  cursor: pointer;
  background-color: lightgray;
}

.video {
  display: flex;
  color: green;
  padding: .625em .625em 1.25em .625em;
  align-items: center;
}

.video:hover {
  cursor: pointer;
  background-color: lightgray;
}

.event {
  display: flex;
  color: orange;
  padding: .625em .625em 1.25em .625em;
  align-items: center;
}

.event:hover {
  cursor: pointer;
  background-color: lightgray;
}

.article {
  display: flex;
  color: red;
  padding: .625em .625em 1.25em .625em;
  align-items: center;
}

.article:hover {
  cursor: pointer;
  background-color: lightgray;
}
