.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: .625em 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  height: 3.75em;
}

.header__left {
  display: flex;
}

.header__left > img {
  object-fit: contain;
  height: 2.5em;
  margin-right: .625em;
}

.header__search {
  padding: .625em;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 2.5em;
  color: gray;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;
}