.sidebar {
  position: sticky;
  top: 5rem;
  flex: 0.25;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar__avatar {
  margin-bottom: .625rem;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: .625rem;
  border-top-right-radius: .625rem;
  background-color: white;
  padding-bottom: .625rem;
}

.sidebar__top > img {
  margin-bottom: -1.25rem;
  width: 100%;
  height: 3.75rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.sidebar__top > h2 {
  font-size: 1rem;
  font-weight: 600;
}

.sidebar__top > h4 {
  color: gray;
  font-size: .75rem;
  font-weight: 400;
}

.sidebar__stats {
  padding: .75rem .25rem;
  margin-bottom: .5rem;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.sidebar__stat {
  margin-top: .625rem;
  display: flex;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: .75rem;
  font-weight: 600;
  margin-left: .5rem;
}

.sidebar__statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar__bottom {
  text-align: left;
  padding: .625rem 0;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 8px;
  margin-top: .5rem
}

.sidebar__bottom > p {
  padding-left: .625rem;
}

.sidebar__recentItem {
  display: flex;
  font-size: .75rem;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  padding: .25rem 0;
  padding-left: .625rem;
}

.sidebar__recentItem:hover {
  color: black;
  background-color: whitesmoke;
}

.sidebar_hash {
  margin-right: .625rem;
  margin-left: .25rem;
}